
  :root {
    --main-white: #FEFEFE;
    --main-green: #999606;
    --main-orange: #850e00;
    --main-orangelight: #fe8c06;
    --main-yellow: #fad000;
    --main-blue: #bed0df; 
    }

body {
    background: white;
    font-family: 'Comfortaa', cursive;
}

nav {
    background: var(--main-orangelight);
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: var(--main-white);
  background-color: var(--main-orange);
}

  .june:link {
    text-decoration: none;
  }

  .june:hover {
    color: var(--main-orange);
  }

.mytitle {
  color: var(--main-orange);
  font-weight: bold;
}

.mytitle2 {
  font-weight: bold;
  color: var(--main-white);
  text-shadow: 2px 2px #850e00;
}

.mytitle3 {
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px #FEFEFE;
}

.myabout {
  background-image: url(../img/index/background.jpg);
  background-size: 200vh;
  background-color: var(--main-orangelight);
}

.myheader {
  background-image: url(../img/piscinabackground.jpg);
  background-size: 200vh;
  background-color: var(--main-orangelight);
}

.myfooter2 {
  background-image: url(../img/piscinabackground.jpg);
  background-size: 200vh;
  background-color: var(--main-blue);
  color: white;
  text-shadow: 1px 1px #000000;

}

